<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.distance.mapper.UserMapper">

    <resultMap id="UserResult" type="com.example.demo.distance.dataObject.User">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="longitude" property="longitude"/>
        <result column="latitude" property="latitude"/>
        <result column="address" property="address"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <select id="selectUser" resultMap="UserResult" parameterType="java.lang.Double">
        SELECT * FROM nearby_user
        WHERE 1=1
        AND (longitude BETWEEN ${minlng} AND ${maxlng})
        AND (latitude BETWEEN ${minlat} AND ${maxlat})
    </select>

    <insert id="insertUser" parameterType="com.example.demo.distance.dataObject.User">
        insert into nearby_user (
        <if test="id != null and id != '' ">id, </if>
        <if test="name != null and name != '' ">name, </if>
        <if test="longitude != null and longitude != '' ">longitude, </if>
        <if test="latitude != null and latitude != '' ">latitude, </if>
        <if test="address != null and address != '' ">address, </if>
        create_time
        )values(
        <if test="id != null and id != ''">#{id}, </if>
        <if test="name != null and name != ''">#{name}, </if>
        <if test="longitude != null and longitude != ''">#{longitude}, </if>
        <if test="latitude != null and latitude != ''">#{latitude}, </if>
        <if test="address != null and address != ''">#{address}, </if>
        sysdate()
        )
    </insert>
</mapper>